NIFI/nifi_assignment_flow.json
{"flowContents":{"identifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c","instanceIdentifier":"07e82827-019e-1000-ac61-6f06321010a2","name":"assignment","comments":"","position":{"x":-920.0,"y":-309.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"88cecbcd-f174-39c6-812a-49f67dae849b","instanceIdentifier":"13f08397-019e-1000-7dad-5f6616cb37de","name":"LogAttribute","comments":"","position":{"x":-608.0,"y":-560.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Log FlowFile Properties":"true","Log Level":"info","Attributes to Ignore":null,"Attributes to Log":null,"Attributes to Ignore Regular Expression":null,"Output Format":"Line per Attribute","Log Payload":"false","Log Prefix":null,"Character Set":"UTF-8","Attributes to Log Regular Expression":".*"},"propertyDescriptors":{"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore Regular Expression":{"name":"Attributes to Ignore Regular Expression","displayName":"Attributes to Ignore Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Prefix":{"name":"Log Prefix","displayName":"Log Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log Regular Expression":{"name":"Attributes to Log Regular Expression","displayName":"Attributes to Log Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"},{"identifier":"8c0ca8c2-d920-367f-8485-050faaa98c9e","instanceIdentifier":"07e9f951-019e-1000-0538-fa44fe55ea88","name":"QueryDatabaseTable","comments":"","position":{"x":-192.0,"y":104.0},"type":"org.apache.nifi.processors.standard.QueryDatabaseTable","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Table Name":"customers","Set Auto Commit":null,"Max Wait Time":"0 seconds","Database Connection Pooling Service":"828c8ba7-1875-3842-931c-2c085c4bc37a","Default Decimal Scale":"0","Maximum-value Columns":"id","Custom Query":null,"Initial Load Strategy":"Start at Beginning","Fetch Size":"0","Transaction Isolation Level":null,"Output Batch Size":"0","Use Avro Logical Types":"false","Normalize Table and Column Names":"false","Database Type":"PostgreSQL","Columns to Return":null,"Max Rows Per FlowFile":"0","Default Decimal Precision":"10","Database Dialect Service":null,"Maximum Number of Fragments":"0","Additional WHERE Clause":null},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Set Auto Commit":{"name":"Set Auto Commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum-value Columns":{"name":"Maximum-value Columns","displayName":"Maximum-value Columns","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Query":{"name":"Custom Query","displayName":"Custom Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Initial Load Strategy":{"name":"Initial Load Strategy","displayName":"Initial Load Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Fetch Size":{"name":"Fetch Size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Isolation Level":{"name":"Transaction Isolation Level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Batch Size":{"name":"Output Batch Size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Avro Logical Types":{"name":"Use Avro Logical Types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Normalize Table and Column Names":{"name":"Normalize Table and Column Names","displayName":"Normalize Table and Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Type":{"name":"Database Type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Columns to Return":{"name":"Columns to Return","displayName":"Columns to Return","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Rows Per FlowFile":{"name":"Max Rows Per FlowFile","displayName":"Max Rows Per FlowFile","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum Number of Fragments":{"name":"Maximum Number of Fragments","displayName":"Maximum Number of Fragments","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional WHERE Clause":{"name":"Additional WHERE Clause","displayName":"Additional WHERE Clause","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"},{"identifier":"f8cfec3b-3a7f-39ab-a763-4fba77403815","instanceIdentifier":"1344f534-019e-1000-dad8-b184fe37b7f4","name":"ConvertRecord","comments":"","position":{"x":-1000.0,"y":104.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"7e31c6b5-3e48-33f2-9fb9-6fd1b21d7c66","Record Reader":"a87cbb6e-13f9-3193-a6d5-06e2d9352ea7"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"},{"identifier":"e65f40a3-4476-3081-924f-3bb504cc1af1","instanceIdentifier":"07e90f7c-019e-1000-1b0c-fe57af58e30b","name":"FetchFile","comments":"","position":{"x":-232.0,"y":-104.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Move Conflict Strategy":"Rename","Move Destination Directory":null,"File not Found Log Level":"ERROR","Permission Denied Log Level":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"Delete File"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File not Found Log Level":{"name":"File not Found Log Level","displayName":"File not Found Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permission Denied Log Level":{"name":"Permission Denied Log Level","displayName":"Permission Denied Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"},{"identifier":"e1c97691-b05b-3962-936f-7310dc86839f","instanceIdentifier":"143da6a9-019e-1000-570d-e4b4020dab1b","name":"PutFile","comments":"","position":{"x":-1016.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/nifi_output_data","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"},{"identifier":"914638f4-52be-32f6-b09c-9e5696a08be8","instanceIdentifier":"07e86cb6-019e-1000-636d-089b3d31066b","name":"ListFile","comments":"","position":{"x":-208.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Minimum File Age":"0 sec","Entity Tracking Initial Listing Target":"all","Maximum File Age":null,"Track Performance":"false","Entity Tracking State Cache":null,"Maximum File Size":null,"Max Disk Operation Time":"10 secs","Max Directory Listing Time":"3 mins","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","Target System Timestamp Precision":"auto-detect","Input Directory":"/opt/nifi/nifi-current/nifi_input_data","Entity Tracking Node Identifier":"${hostname()}","Record Writer":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Listing Strategy":"timestamps","Entity Tracking Time Window":"3 hours","Maximum Number of Files to Track":"100000"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Initial Listing Target":{"name":"Entity Tracking Initial Listing Target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Track Performance":{"name":"Track Performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking State Cache":{"name":"Entity Tracking State Cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Disk Operation Time":{"name":"Max Disk Operation Time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Directory Listing Time":{"name":"Max Directory Listing Time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Target System Timestamp Precision":{"name":"Target System Timestamp Precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Node Identifier":{"name":"Entity Tracking Node Identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listing Strategy":{"name":"Listing Strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Entity Tracking Time Window":{"name":"Entity Tracking Time Window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Files to Track":{"name":"Maximum Number of Files to Track","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"},{"identifier":"e23d4680-eb7c-3ed9-bbd8-1c24ebf99a51","instanceIdentifier":"13456859-019e-1000-5903-dbdd40d00379","name":"QueryRecord","comments":"","position":{"x":-992.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.9.0"},"properties":{"Include Zero Record FlowFiles":"true","Default Decimal Scale":"0","Record Writer":"7e31c6b5-3e48-33f2-9fb9-6fd1b21d7c66","Record Reader":"a87cbb6e-13f9-3193-a6d5-06e2d9352ea7","Default Decimal Precision":"10","cleaned_data":"SELECT DISTINCT * FROM FLOWFILE WHERE CustomerID IS NOT NULL"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default Decimal Scale":{"name":"Default Decimal Scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Default Decimal Precision":{"name":"Default Decimal Precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cleaned_data":{"name":"cleaned_data","displayName":"cleaned_data","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"34bf86ab-cc07-3ae7-85a0-b5992b3ceb54","instanceIdentifier":"13f91548-019e-1000-213e-c1a0d773d270","name":"","source":{"id":"914638f4-52be-32f6-b09c-9e5696a08be8","type":"PROCESSOR","groupId":"5f7738e4-1ba3-34e9-86e3-ca821150363c","name":"ListFile","comments":"","instanceIdentifier":"07e86cb6-019e-1000-636d-089b3d31066b"},"destination":{"id":"e65f40a3-4476-3081-924f-3bb504cc1af1","type":"PROCESSOR","groupId":"5f7738e4-1ba3-34e9-86e3-ca821150363c","name":"FetchFile","comments":"","instanceIdentifier":"07e90f7c-019e-1000-1b0c-fe57af58e30b"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"},{"identifier":"cf3be75b-5388-3991-95cc-0caa0ca56e80","instanceIdentifier":"143fab7a-019e-1000-6d96-cb5100ba33cb","name":"","source":{"id":"e1c97691-b05b-3962-936f-7310dc86839f","type":"PROCESSOR","groupId":"5f7738e4-1ba3-34e9-86e3-ca821150363c","name":"PutFile","comments":"","instanceIdentifier":"143da6a9-019e-1000-570d-e4b4020dab1b"},"destination":{"id":"88cecbcd-f174-39c6-812a-49f67dae849b","type":"PROCESSOR","groupId":"5f7738e4-1ba3-34e9-86e3-ca821150363c","name":"LogAttribute","comments":"","instanceIdentifier":"13f08397-019e-1000-7dad-5f6616cb37de"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"},{"identifier":"852f06b3-e7fa-33c1-a872-462733ce5303","instanceIdentifier":"143df603-019e-1000-cb9a-02fde86bbd11","name":"","source":{"id":"e23d4680-eb7c-3ed9-bbd8-1c24ebf99a51","type":"PROCESSOR","groupId":"5f7738e4-1ba3-34e9-86e3-ca821150363c","name":"QueryRecord","comments":"","instanceIdentifier":"13456859-019e-1000-5903-dbdd40d00379"},"destination":{"id":"e1c97691-b05b-3962-936f-7310dc86839f","type":"PROCESSOR","groupId":"5f7738e4-1ba3-34e9-86e3-ca821150363c","name":"PutFile","comments":"","instanceIdentifier":"143da6a9-019e-1000-570d-e4b4020dab1b"},"labelIndex":0,"zIndex":9,"selectedRelationships":["cleaned_data"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"},{"identifier":"3d5fb6bf-f854-3a62-a285-7c2a523c943b","instanceIdentifier":"13f92fdd-019e-1000-ce8e-2aa263efc474","name":"","source":{"id":"e65f40a3-4476-3081-924f-3bb504cc1af1","type":"PROCESSOR","groupId":"5f7738e4-1ba3-34e9-86e3-ca821150363c","name":"FetchFile","comments":"","instanceIdentifier":"07e90f7c-019e-1000-1b0c-fe57af58e30b"},"destination":{"id":"e23d4680-eb7c-3ed9-bbd8-1c24ebf99a51","type":"PROCESSOR","groupId":"5f7738e4-1ba3-34e9-86e3-ca821150363c","name":"QueryRecord","comments":"","instanceIdentifier":"13456859-019e-1000-5903-dbdd40d00379"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"},{"identifier":"aebe4f33-1251-3cad-b89a-4450bd4de875","instanceIdentifier":"1400cabe-019e-1000-a206-644c24424c6e","name":"","source":{"id":"f8cfec3b-3a7f-39ab-a763-4fba77403815","type":"PROCESSOR","groupId":"5f7738e4-1ba3-34e9-86e3-ca821150363c","name":"ConvertRecord","comments":"","instanceIdentifier":"1344f534-019e-1000-dad8-b184fe37b7f4"},"destination":{"id":"e23d4680-eb7c-3ed9-bbd8-1c24ebf99a51","type":"PROCESSOR","groupId":"5f7738e4-1ba3-34e9-86e3-ca821150363c","name":"QueryRecord","comments":"","instanceIdentifier":"13456859-019e-1000-5903-dbdd40d00379"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"},{"identifier":"44cc611b-94af-3446-80cc-8753adab22d8","instanceIdentifier":"14002c1b-019e-1000-5437-a15db3f230f9","name":"","source":{"id":"8c0ca8c2-d920-367f-8485-050faaa98c9e","type":"PROCESSOR","groupId":"5f7738e4-1ba3-34e9-86e3-ca821150363c","name":"QueryDatabaseTable","comments":"","instanceIdentifier":"07e9f951-019e-1000-0538-fa44fe55ea88"},"destination":{"id":"f8cfec3b-3a7f-39ab-a763-4fba77403815","type":"PROCESSOR","groupId":"5f7738e4-1ba3-34e9-86e3-ca821150363c","name":"ConvertRecord","comments":"","instanceIdentifier":"1344f534-019e-1000-dad8-b184fe37b7f4"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"828c8ba7-1875-3842-931c-2c085c4bc37a","instanceIdentifier":"080ab121-019e-1000-05c9-c9dc47def91c","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.9.0"},"properties":{"Maximum Idle Connections":"8","Database Driver Locations":"/opt/nifi/nifi-current/drivers/postgresql-42.7.10.jar","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","Minimum Idle Connections":"0","Kerberos User Service":null,"Max Total Connections":"8","Validation Query":null,"Database Password Provider":null,"Database Connection URL":"jdbc:postgresql://cluster_util_db:5432/nifi","Password Source":"PASSWORD","Time Between Eviction Runs":"-1","Database User":"postgres","Soft Minimum Evictable Idle Time":"-1","Maximum Connection Lifetime":"-1","Minimum Evictable Idle Time":"30 mins"},"propertyDescriptors":{"Maximum Idle Connections":{"name":"Maximum Idle Connections","displayName":"Maximum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Locations":{"name":"Database Driver Locations","displayName":"Database Driver Locations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Idle Connections":{"name":"Minimum Idle Connections","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kerberos User Service":{"name":"Kerberos User Service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation Query":{"name":"Validation Query","displayName":"Validation Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Password Provider":{"name":"Database Password Provider","displayName":"Database Password Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password Source":{"name":"Password Source","displayName":"Password Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Between Eviction Runs":{"name":"Time Between Eviction Runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Soft Minimum Evictable Idle Time":{"name":"Soft Minimum Evictable Idle Time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connection Lifetime":{"name":"Maximum Connection Lifetime","displayName":"Maximum Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Evictable Idle Time":{"name":"Minimum Evictable Idle Time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"},{"identifier":"7e31c6b5-3e48-33f2-9fb9-6fd1b21d7c66","instanceIdentifier":"134fcd34-019e-1000-5136-dab887573353","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"CSV Format":"custom","Include Header Line":"true","Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","CSV Writer":"commons-csv","Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","Schema Cache":null,"Character Set":"UTF-8","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Writer":{"name":"CSV Writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"},{"identifier":"a87cbb6e-13f9-3193-a6d5-06e2d9352ea7","instanceIdentifier":"134f5fe3-019e-1000-7300-80c84fa03476","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.9.0"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","CSV Format":"custom","Quote Character":"\"","Value Separator":",","Schema Registry":null,"Treat First Line as Header":"false","Schema Access Strategy":"infer-schema","Ignore CSV Header Column Names":"false","Schema Name":"${schema.name}","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Trim Double Quote":"true","Null String":null,"Trim Fields":"true","Schema Version":null,"Time Format":null,"Comment Marker":null,"Allow Duplicate Header Names":"true","CSV Parser":"commons-csv","Character Set":"UTF-8"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Treat First Line as Header":{"name":"Treat First Line as Header","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore CSV Header Column Names":{"name":"Ignore CSV Header Column Names","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Double Quote":{"name":"Trim Double Quote","displayName":"Trim Double Quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Duplicate Header Names":{"name":"Allow Duplicate Header Names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Parser":{"name":"CSV Parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.9.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"5f7738e4-1ba3-34e9-86e3-ca821150363c"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}